Repository nasa-fornax/fornax-demo-notebooks, pull requests merged in 2023-09, with the labels that each got.

#134 Speed up ZTF
  light_curves/code/ztf_functions.py
  light_curves/multiband_lc.ipynb
Labels: use case: light curves

#111 Switch to the new parquet catalog for WISE
  light_curves/code/WISE_functions.py
  light_curves/code/fluxconversions.py
  light_curves/multiband_lc.ipynb
Labels: use case: light curves

#135 Gaia speedup
  light_curves/code/gaia_functions.py
  light_curves/code/plot_functions.py
  light_curves/multiband_lc.ipynb
Labels: use case: light curves

#145 Add `tqdm` to WISE and ZTF calls and do a bugfix for the parallel processing cell
  light_curves/code/WISE_functions.py
  light_curves/code/ztf_functions.py
  light_curves/multiband_lc.ipynb
Labels: bug, enhancement, ready-for-review, use case: light curves

#148 Writing out coords_list and labels_list to disk
  light_curves/multiband_lc.ipynb
Labels: use case: light curves

#147 Heasarc label fix
  light_curves/code/heasarc_functions.py
  light_curves/multiband_lc.ipynb
Labels: bug, use case: light curves

#151 Light Curve Classifier V1
  light_curves/code/fluxconversions.py
  light_curves/lc_classifier.ipynb
  light_curves/requirements-lc_classifier.txt
Labels: ready-for-review, use case: ML

#140 Clean up imports and file organization
  .gitignore
  forced_photometry/code_src/README.md
  forced_photometry/code_src/calc_irac_uncertainty.py
  forced_photometry/code_src/cutout.py
  forced_photometry/code_src/determine_source_type.py
  forced_photometry/code_src/display_images.py
  forced_photometry/code_src/exceptions.py
  forced_photometry/code_src/find_nconfsources.py
  forced_photometry/code_src/nway_write_header.py
  forced_photometry/code_src/photometry.py
  forced_photometry/code_src/plot_SED.py
  forced_photometry/code_src/prepare_prf.py
  forced_photometry/data/README.md
  forced_photometry/multiband_photometry.ipynb
  forced_photometry/output/README.md
  light_curves/ML_AGNzoo.ipynb
  light_curves/code_src/HCV_functions.py
  light_curves/code_src/ML_utils.py
  light_curves/code_src/README.md
  light_curves/code_src/TESS_Kepler_functions.py
  light_curves/code_src/WISE_functions.py
  light_curves/code_src/data_structures.py
  light_curves/code_src/fluxconversions.py
  light_curves/code_src/gaia_functions.py
  light_curves/code_src/heasarc_functions.py
  light_curves/code_src/icecube_functions.py
  light_curves/code_src/mast_functions.py
  light_curves/code_src/panstarrs.py
  light_curves/code_src/plot_functions.py
  light_curves/code_src/sample_lc.py
  light_curves/code_src/sample_selection.py
  light_curves/code_src/ztf_functions.py
  light_curves/data/README.md
  light_curves/lc_classifier.ipynb
  light_curves/multiband_lc.ipynb
  light_curves/output/README.md
  light_curves/requirements.txt
Labels: ready-for-review, use case: light curves
