Repository nasa-fornax/fornax-demo-notebooks, pull requests merged in 2023-11, with the labels that each got.

#163 LC classifier data prep cleanup
  light_curves/code_src/sample_selection.py
  light_curves/lc_classifier.ipynb
Labels: use case: ML

#168 Rename multiband_lc.md to light_curve_generator.md
  light_curves/light_curve_generator.md
Labels: use case: light curves

#169 IceCube Speedup
  light_curves/code_src/icecube_functions.py
  light_curves/light_curve_generator.md
Labels: ready-for-review, use case: light curves

#170 Switch ZTF to use `sample_table`
  light_curves/code_src/ztf_functions.py
  light_curves/light_curve_generator.md
Labels: ready-for-review, use case: light curves

#171 convert all remaining functions to use sample_table instead of coords_list and labels_list
  light_curves/code_src/HCV_functions.py
  light_curves/code_src/TESS_Kepler_functions.py
  light_curves/code_src/gaia_functions.py
  light_curves/code_src/icecube_functions.py
  light_curves/code_src/panstarrs.py
  light_curves/code_src/plot_functions.py
  light_curves/code_src/sample_selection.py
  light_curves/light_curve_generator.md
Labels: use case: light curves

#176 Clean up light curves code
  light_curves/code_src/TESS_Kepler_functions.py
  light_curves/code_src/WISE_functions.py
  light_curves/code_src/data_structures.py
  light_curves/code_src/gaia_functions.py
  light_curves/code_src/heasarc_functions.py
  light_curves/code_src/icecube_functions.py
  light_curves/code_src/panstarrs.py
  light_curves/code_src/plot_functions.py
  light_curves/code_src/sample_selection.py
  light_curves/code_src/tde_functions.py
  light_curves/code_src/ztf_functions.py
Labels: use case: light curves

#181 Bug-fix data cleaning and plotting
  light_curves/code_src/WISE_functions.py
  light_curves/code_src/fluxconversions.py
  light_curves/code_src/icecube_functions.py
  light_curves/code_src/plot_functions.py
  light_curves/code_src/ztf_functions.py
Labels: use case: light curves
