Repository nasa-fornax/fornax-demo-notebooks, pull requests merged in 2024-09, with the labels that each got.

#329 MAINT: update logo and favicon
  _static/fornax_favicon.ico
  _static/fornax_logo.png
  conf.py
Labels: HTML rendering

#316 Fix path to nway.py in multiband_photometry
  forced_photometry/multiband_photometry.md
Labels: use case: forced photometry

#321 MAINT: cleanup rendering warnings
  conf.py
  forced_photometry/multiband_photometry.md
  light_curves/ML_AGNzoo.md
  light_curves/light_curve_classifier.md
  light_curves/light_curve_generator.md
  light_curves/requirements_ML_AGNzoo.txt
  light_curves/requirements_light_curve_classifier.txt
  light_curves/requirements_light_curve_generator.txt
  spectroscopy/explore_Euclid_data.md
  spectroscopy/spectra_generator.md
  tox.ini
Labels: maintanence

#309 CI: execute for rendering
  conf.py
  forced_photometry/code_src/fornax.py
  forced_photometry/multiband_photometry.md
  light_curves/ML_AGNzoo.md
  tox.ini
Labels: infrastructure, HTML rendering

#333 Avoid hitting s3 bucket on module import
  light_curves/code_src/ztf_functions.py
Labels: bug, use case: light curves

#337 BUG: fix notebook format to be myst markdown
  spectroscopy/spectra_generator.md
Labels: bug, use case: spectroscopy

#338 MAINT: adding specroscopy requirements file
  spectroscopy/requirements_spectra_generator.txt
  spectroscopy/spectra_generator.md
Labels: use case: spectroscopy

#341 ENH: merge streams for nicer looking outputs
  conf.py
Labels: infrastructure, HTML rendering

#345 added runtime and commented out dtw lines
  conf.py
  light_curves/ML_AGNzoo.md
  tox.ini
Labels: use case: ML AGN zoo

#347 add parameters to delete downloaded data from spectroscopy queries
  spectroscopy/code_src/herschel_functions.py
  spectroscopy/code_src/mast_functions.py
  spectroscopy/spectra_generator.md
Labels: use case: spectroscopy
