Repository nasa-fornax/fornax-demo-notebooks, pull requests merged in 2024-04, with the labels that each got.

#215 Add notebook and code to run light_curve_generator at scale
  light_curves/README.md
  light_curves/code_src/helpers/scale_up.py
  light_curves/code_src/helpers/scale_up.sh
  light_curves/code_src/helpers/top.py
  light_curves/code_src/sample_lc.py
  light_curves/code_src/ztf_functions.py
  light_curves/light_curve_generator.md
  light_curves/output/lightcurves-demo-SDSS-500k/logs/gaia.log
  light_curves/output/lightcurves-demo-SDSS-500k/logs/get_sample.log
  light_curves/output/lightcurves-demo-SDSS-500k/logs/heasarc.log
  light_curves/output/lightcurves-demo-SDSS-500k/logs/icecube.log
  light_curves/output/lightcurves-demo-SDSS-500k/logs/scale_up.sh.log
  light_curves/output/lightcurves-demo-SDSS-500k/logs/top.tag-ztf.txt
  light_curves/output/lightcurves-demo-SDSS-500k/logs/top.txt
  light_curves/output/lightcurves-demo-SDSS-500k/logs/wise.log
  light_curves/output/lightcurves-demo-SDSS-500k/logs/ztf.log
  light_curves/scale_up.md
Labels: use case: light curves

#266 Update toctree and add links to readme
  light_curves/README.md
Labels: use case: light curves

#267 Update guidance on when to use scale_up
  light_curves/README.md
  light_curves/light_curve_generator.md
  light_curves/scale_up.md
Labels: use case: light curves

#272 BUG: remove duplicated documentation section
  index.md
Labels: bug

#277 DOC: adding one-liner summary to landing page
  README.md
  index.md
Labels: documentation

#275 outline of new notebook
  spectroscopy/explore_Euclid_data.md
Labels: use case: Euclid

#276 removed IRTF by crossing it out in the table
  spectroscopy/spectra_generator.md
Labels: use case: spectroscopy
