Repository nasa-fornax/fornax-demo-notebooks, pull requests merged in 2024-02, with the labels that each got.

#227 MAINT: adding more to gitignore
  .gitignore
Labels: infrastructure

#229 MAINT: cleanup shoobyFeb after premature merge of #225
  light_curves/ML_AGNzoo.md
  light_curves/code_src/ML_utils.py
  light_curves/code_src/data_structures.py
  light_curves/code_src/sample_lc.py
  light_curves/code_src/sample_selection.py
  light_curves/requirements.txt
Labels: use case: ML AGN zoo

#232 Cleanup spelling
  light_curves/light_curve_generator.md
Labels: documentation, ready-for-review, use case: light curves
