Repository nasa-fornax/fornax-demo-notebooks, pull requests merged in 2025-03, with the labels that each got.

#382 converting panstarrs read_hipscat to read_hats
  light_curves/code_src/panstarrs_functions.py
  light_curves/light_curve_generator.md
  light_curves/requirements_light_curve_generator.txt
Labels: bug, use case: light curves

#385 Point photometry notebook at new s3 bucket
  forced_photometry/multiband_photometry.md
Labels: infrastructure, use case: forced photometry, maintanence

#389 changing name of ML_utils to be in line with other function files
  light_curves/ML_AGNzoo.md
  light_curves/code_src/AGNzoo_functions.py
Labels: maintanence

#392 MAINT: turn off GitHub edit
  conf.py
Labels: infrastructure, HTML rendering, maintanence

#387 BUG: fix gaia query
  light_curves/code_src/gaia_functions.py
  light_curves/requirements_light_curve_generator.txt
Labels: bug, refactor, use case: light curves

#399 BUG: fix child processes in scale-up notebook
  light_curves/code_src/helpers/scale_up.py
  light_curves/scale_up.md
Labels: bug, maintanence
