Repository nasa-fornax/fornax-demo-notebooks, pull requests merged in 2025-07, with the labels that each got.

#442 ENH: adding Euclid spectra
  .gitignore
  spectroscopy/code_src/Euclid_functions.py
  spectroscopy/spectra_collector.md
Labels: use case: spectroscopy

#452 MAINT: removing rendering FSC documentation here
  conf.py
  tox.ini
Labels: maintanence

#454 PanSTARRS - Remove obsolete UPath
  light_curves/code_src/panstarrs_functions.py
Labels: use case: light curves
