Repository nasa-fornax/fornax-demo-notebooks, pull requests merged in 2025-05, with the labels that each got.

#417 Fix another mathtext occurance
  forced_photometry/code_src/plot_SED.py
Labels: bug, use case: forced photometry

#411 DOC: adding some myst references
  README.md
Labels: documentation

#421 Add ztf hats
  light_curves/code_src/panstarrs_functions.py
  light_curves/code_src/wise_functions.py
  light_curves/code_src/ztf_functions.py
  light_curves/light_curve_generator.md
  light_curves/requirements_light_curve_generator.txt
Labels: use case: light curves

#423 Add rubin data to light curve generator
  .gitignore
  light_curves/code_src/rsp_token_instructions.txt
  light_curves/code_src/rubin_functions.py
  light_curves/light_curve_generator.md
Labels: use case: light curves
