Repository nasa-fornax/fornax-demo-notebooks, pull requests merged in 2025-08, with the labels that each got.

#482 Update docs link and cloud languaging
  README.md
Labels: documentation

#481 Comment out heasarc_get_lightcurves() to temporarily patch #457
  light_curves/light_curve_generator.md
Labels: use case: light curves, maintanence

#486 Add external links to index page
  index.md
Labels: documentation

#487 Remove explore_Euclid_data.md
  spectroscopy/explore_Euclid_data.md
Labels: maintanence

#384 Add ZTF/PS1 cross-match notebook
  crossmatch/README.md
  crossmatch/output/xmatch_benchmarks.csv
  crossmatch/requirements_ztf_ps1_crossmatch.txt
  crossmatch/ztf_ps1_crossmatch.md
Labels: use case: cross-matching

#339 HTML: adding spectroscopy section to rendering
  conf.py
  deployed_notebooks_manifest.in
  index.md
  spectroscopy/README.md
  spectroscopy/requirements_spectra_collector.txt
  tox.ini
Labels: use case: spectroscopy, HTML rendering
